.tabs {
	position: relative;
	margin: 40px auto;
	
}

.tabs input {
	position: absolute;
	z-index: 1000;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
	border: 2px solid #000;
}
.tabs input#tab-2{
	left: 120px;
}
.tabs input#tab-3{
	left: 240px;
}


.tabs label {
	/*background: #80D0CA;*/
	/*background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
	background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
	font-size: 15px;*/
	line-height: 40px;
	height: 40px;
	position: relative;
	padding: 0 20px;
  float: left;
	display: block;
	margin-right:10px;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	/*text-shadow: 1px 1px 1px rgba(255,255,255,0.3);*/
  border-radius: 3px 3px 0 0;
  border: 1px solid #00a99d;
  border-bottom: none;
  /*box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);*/
  top: 1px;
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
	color:;
}

.tabs input:hover + label {
	background:#00a99d;
	color:#fff;


}

.tabs label:first-of-type {
    z-index: 4;
    /*box-shadow: 2px 0 2px rgba(0,0,0,0.1);*/
    /*border:2px solid #000;*/
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
	color: #00a99d;
}

.clear-shadow {
	clear: both;
}

.content {
	background: #fff;
	position: relative;
	width: 100%;
	height: 200px;
	z-index: 5;
	/*box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
	border-radius: 0 3px 3px 3px;*/
	border: 1px solid #00a99d;
}

.content div {
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px 40px;
	z-index: 1;
    opacity: 0;

    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.content div h2,
.content div h3{
	color: #398080;
}
.content div p {
	font-size: 18px;
	line-height: 36px;
	/* [disabled]font-style: italic; */
	text-align: left;
	margin: 0;
	color: #000;
	padding-left: 15px;
	padding-top: 10px;
	/* [disabled]font-family: Cambria, Georgia, serif; */
	/* [disabled]border-left: 8px solid rgba(63,148,148, 0.1); */
}
