@charset 'utf-8';
/* CSS Document */
@font-face{
	font-family: 'klavika_regularregular';
	src: url('fonts/klavikaregular-tf-webfont.eot');
	src: url('fonts/klavikaregular-tf-webfont.eot?#iefix') format('embedded-opentype'), 
	url('fonts/klavikaregular-tf-webfont.woff2') format('woff2'), 
	url('fonts/klavikaregular-tf-webfont.woff') format('woff'), 
	url('fonts/klavikaregular-tf-webfont.ttf') format('truetype'), 
	url('fonts/klavikaregular-tf-webfont.svg#klavika_regularregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face{
	font-family: 'Klavika Light';
	src: url('fonts/ufonts.com_klavika-light-opentype-webfont.eot');
	src: url('fonts/ufonts.com_klavika-light-opentype-webfont.eot?#iefix') format('embedded-opentype'), 
	url('fonts/ufonts.com_klavika-light-opentype-webfont.woff2') format('woff2'), 
	url('fonts/ufonts.com_klavika-light-opentype-webfont.woff') format('woff'), 
	url('fonts/ufonts.com_klavika-light-opentype-webfont.ttf') format('truetype'), 
	url('fonts/ufonts.com_klavika-light-opentype-webfont.svg#klavikalight') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
	margin:0;
	padding: 0;
}
body ,h1, h2, h3, h4, h5, h6{
	 font-family: 'Klavika Light';
	 font-family: 'klavika_regularregular';
}
.wrapper{
	height: auto;
	width: 100%;
	background-color: #fff;
	margin:0px auto;
}
.innerWrapper{
	width: 960px;
	margin: 0 auto;
	background-color: #fff;
	padding-bottom: 20px;
	}
.header{
	width: 960px;
	margin: 0 auto;
}
.logo{
	width: 960px;
	background-color: #fff;
}
.contentData{
	width: 100%;
	height: 400px;
	background-color: #00a99d;
}
.innerWrapper p{
	/*float: left;*/
	color: #000;
	font-size: 20px;
}
.contentMain{
	font-size: 20px;
	color: #fff;
	padding: 10px 0 0 10px;
	text-align: center;
	line-height: 38px;
}
.welcomeTextWrapp{
	width: 553px;
	margin: 0 auto;
	margin-top: 10px;
}
.welcomeText{
	margin: 0 auto;
	background-image: url(images/welcome_text_bottom.jpg);
	color:#00a99d;
	font-size: 40px;
	padding: 0 0 180px;
	background-repeat: no-repeat;
	float: left;
	width: 100%;
	line-height: 50px;
	background-size: 100%;
	background-position: center bottom;
	background-color: #00a99d;

	 
}
.welcomeTextInner{
	float: left;
	width: 100%;
	padding: 25px 22px;
	background-color: #fff;
	margin-top: 15px;
	color:#00a99d;
	text-align: center;
	
}
/*.welcomeTextInner span{
	background-image: url(images/welcome_inputfield.jpg);
	padding-bottom:15px;
	

}*/


.bannerImg{
	width: 580px;
	float: left;
}
.bannerImg img{
	width: 500px;
	padding: 0 0 0 50px;
}
.bannerForm{
	width: 350px;
	background-color: #00a99d;
	float: right;
	margin: 60px 30px 0 0;
	color:#fff;

}
.bannerForm input,select,.send,.value{
	width: 225px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid #05a896;
	text-align: center;
}
.btn{
	background-color: #ccc;
	height: 45px;
	font-size:16px;
	font-weight: bold;

}
.bannerForm .send{
	height: 35px;

}
.bannerForm h2{
	text-align: center;
	font-size: 24px;
	padding: 10px 0 8px 0;
	color: #fff;
	border-bottom:1px solid #FFF;
	width: 300px;
	margin: 0 auto;
}

.bannerForm form{
	width: 320px;
	padding:15px;
	
}
.tabData{
clear: both;
width: 900px;
margin:0 auto;
padding: 10px;

}
.tabData .tab ul li a {
	border: none;
}
.testimonial{
	width: 960px;
	border-bottom: 2px solid #ccc;
}
.testimonialInfo{
	width:880px;
	margin: 0 auto;
}
.testimonialInfo h1{
	text-align: center;
	padding:40px 0 0 0;
	color: #00a99d;
}
.box {
	vertical-align: top;
	display: inline-block;
	width:	31%;
	margin-left: 2%;
	margin-top:60px;
	height: 330px;
/*	background-color: #000;*/

}
.box img{
	width: 20%;
	float: left;
}
.box p{
	padding:0 0 6% 6%;
	font-size:16px;	
	width:70%;
	color:#333;
	margin-left:50px;
	word-wrap: break-word;
}
.box h4{
	font-size:16px;	
	width:80%;
	color:#333;
	margin-left:64px;
}
.box h3{
	font-size:13px;	
	width:80%;
	color:#333;
	margin-left:62px;
	padding: 1%
} 
.ourClient{
	width: 960px;
	margin: 0 auto;	
	}
.ourClient h1{
	text-align: center;
	padding:40px 0 0 0;
	color: #00a99d;
}

form.email p {
	font-size: 14px;
	padding: 0 0 0 0;
	margin: 0px auto;
	/* [disabled]margin-left: 70px; */
	margin-top: 5px;
	text-align: center;
	color: #fff;
}
.cycle-slideshow, .cycle-slideshow * 
{ -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;
	 box-sizing: border-box; }
.cycle-slideshow { 
	width: 100%; 
	min-width: 960px;
	margin: auto; 
	padding: 0; }

/* anchors */
.cycle-slideshow > a { 
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; background-color: #222; display: block;
}
.cycle-slideshow img{
	padding: 5%;
	height: 150px;
}
/* images */
.cycle-slideshow > a > img { 
    width: 100%;
    position: static;
    display: block;
    padding: 10px;
}

/* divs */
.cycle-slideshow > div { 
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%; 
	padding: 0;
}

.composite-example > div { background: white }
.composite-example > div > img { display: block; }
.composite-example > div .cycle-overlay { 
    color: white; background: black; opacity: .6; filter:alpha(opacity=60);
    position: absolute; bottom: 0; width: 100%; padding: 15px;
}

.cycle-slide p { margin: 0; padding: 10px }
.footerContent{
	width: 960px;
	margin: 0 auto;
}
.footerContent .footerbtn {
	text-align: center;
	padding:40px 0 0 0;
	color: #00a99d;
	margin: 40px;
}
.footerContent .footerbtn  a{
	text-decoration: none;
	color:#fff;
	background-color: #00a99d;
	padding: 10px;
	border-radius: 5px;

}
.addressSection h2{
	text-align: center;
	padding:40px 0 0 0;
	font-size: 14px;
}
/*.addressSection p{
	padding:40px 0 0 0;
	font-size: 14px;

}*/
.addressSection p{
	padding:0px 0 0 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
}
.addressSection a{
	text-decoration: none;
	color:#000;
}